<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>QR Code</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- nice select -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4="
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span> iQR </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-8 mx-auto">
              <div class="detail-box">
                <img style="margin-bottom: 20px;" id="qrFromServer" src=""></img>
                <h1>
                  Generate Your <br />
                  QR CODE ON ONE CLICK
                </h1>
                <h1 id="after_send">
      
          
                </h1>
              </div>
            </div>
          </div>
          <center>
            <div class="find_container center">
              <div class="container center">
                <div class="row">
                  <div class="col">
                    <form id="qrForm">
                      <div class="form-row">
                        <div class="form-group col-lg-9">
                          <input
                            id="qrUrl"
                            type="text"
                            class="form-control"
                            
                            placeholder="Enter to generate QRCode"
                          />
                        </div>

                        <div class="form-group col-lg-3">
                          <div class="btn-box">
                            <button
                              type="button"
                              class="btn"
                              onclick=" fetchQr(); return false;"
                            >
                              Generate
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-row  d-none" id="emailDiv" >
                        <div class="form-group col-lg-9">
                          
                          
                          <input
                            type="text"
                            class="form-control"
                            id="email_id"
                            placeholder="Send you generated qr on email"
                          />
                        </div>

                        <div class="form-group col-lg-3">
                          <div class="btn-box">
                            <button type="button" onclick="emailFetch(); return false" class="btn">
                              Send Now
                            </button>
                          </div>
                          
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </center>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- footer section -->

    <!-- jQery -->

    <script>
      
      async function fetchQr() {
        try {
          const qrUrl = document.getElementById("qrUrl").value;
          await buildQr(qrUrl);
        } catch (error) {
          console.error("Error fetching QR code:", error);
        }
      }
      
      async function buildQr(qrUrl) {
        try {
          const response = await fetch("/api/v1/qrcode", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ qrUrl }),
          });

          if (!response.ok) {
            throw new Error("Failed to generate QR code");
          }

          const result = await response.json();
          if(result && result.qr){
            document.getElementById('qrFromServer').src=result.qr;
            document.getElementById('emailDiv').classList.remove('d-none');
            emailQr = result.qr;
            
            
            
          }
          
          
          
        } catch (error) {
          throw new Error("QR Fetching wrong");
        }
      }
      
      
      async function emailFetch() {
        try {
          const email = document.getElementById("email_id").value;
          const payload = {
            email,
            img: emailQr
          }
          
          await sendEmail(payload);
        } catch (error) {
          console.error("Error fetching QR code:", error);
        }
      }

      async function sendEmail(payload) {
        try {
          const response = await fetch("/api/v1/mail", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
          });

          if (!response.ok) {
            throw new Error("Failed to send QR code to email");
          }

          const result = await response.json();
          if(result){
            
            document.getElementById('after_send').innerHTML = "Sent Successfully"
          setTimeout(()=>{
            document.getElementById('after_send').innerHTML = ""
          }, 2500)
          }
          
        } catch (error) {
          throw new Error("QR Fetching wrong");
        }

        
      }
    </script>
  </body>
</html>
