<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>QR Code</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- nice select -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4="
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span> iQR </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-8 mx-auto">
              <div class="detail-box">
                <h1>
                  Generate Your <br />
                  QR CODE WITH ONE CLICK
                </h1>
              </div>
            </div>
          </div>
          <center>
            <div class="find_container center">
              <div class="container center">
                <div class="row">
                  <div class="col">
                    <form class="col-lg-45 col-md-45 mx-auto">
                      <div class="form-row">
                        <div class="form-group col-lg-9">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPatientName"
                            placeholder="Enter your data to generate qrcode"
                          />
                        </div>

                        <div class="form-group col-lg-3">
                          <div class="btn-box">
                            <button type="submit" class="btn">
                              Submit Now
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-row" hidden>
                        <div class="form-group col-lg-9">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPatientName"
                            placeholder="Enter Your Email"
                          />
                        </div>

                        <div class="form-group col-lg-3">
                          <div class="btn-box">
                            <button type="submit" class="btn">
                              Enter Your Email
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </center>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- footer section -->

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- nice select -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
      integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo="
      crossorigin="anonymous"
    ></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
  </body>
</html>
